[MAIN]
# Specify a configuration file.
ignore=__pycache__,htmlcov,.venv

# Python code to execute, usually for sys.path manipulation such as
# pygtk.require().
init-hook='import sys; sys.path.insert(0, ".")'

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=
    duplicate-code,
    too-many-instance-attributes,
    too-few-public-methods,
    import-error,
    wrong-import-position,
    global-statement,
    fixme,
    protected-access,
    no-value-for-parameter,
    consider-using-with

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120

[DESIGN]
# Maximum number of arguments for function / method.
max-args=10

# Maximum number of locals for function / method body.
max-locals=20

# Maximum number of return / yield for function / method body.
max-returns=10

# Maximum number of branch for function / method body.
max-branches=15

# Maximum number of statements in function / method body.
max-statements=60

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=10

[TYPECHECK]
# List of module names for which member attributes should not be checked
ignored-modules=click

